@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$blue: hsl(246, 80%, 60%);
$light-red: hsl(15, 100%, 70%); // (work)
$soft-blue: hsl(195, 74%, 62%); //(play)
$red: hsl(348, 100%, 68%); //(study)
$lime-green: hsl(145, 58%, 55%); //(exercise)
$violet: hsl(264, 64%, 52%); //(social)
$soft-orange: hsl(43, 84%, 65%); //(self care)
$blue-darker: hsl(226, 43%, 10%);
$blue-dark: hsl(235, 46%, 20%);
$blue-desaturated: hsl(235, 45%, 61%);
$blue-pale: hsl(236, 100%, 87%);

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $blue-darker;
}

.attribution {
  color: $blue-dark;
  a {
    text-decoration: none;
    color: $blue;
  }
}

.app {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;

  &--profile {
    height: 500px;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    &--top {
      height: 60%;
      background-color: $blue;
      border-radius: 10px;
      padding: 20px;
      z-index: 3;

      img {
        width: 80px;
        height: auto;
        border-radius: 100%;
        border: 3px solid white;
      }

      p {
        margin-bottom: 10px;
        font-weight: 300;
        color: $blue-pale;
      }

      h2 {
        font-size: 2.5rem;
        font-weight: 300;
        color: white;
        margin-top: 0;
      }
    }

    &--bottom {
      height: 40%;
      border-radius: 10px;
      background-color: $blue-dark;
      padding: 20px;
      z-index: 1;
      margin-top: -100px;
      display: flex;
      flex-direction: column;

      a:first-child {
        margin-top: 100px;
      }

      a {
        margin-bottom: 20px;
        color: $blue-desaturated;
        font-size: 1rem;
        font-weight: 300;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: white;
        }
      }
    }
  }

  &--cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 72%;

    .card {
      width: 30%;
      height: 240px;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      &:hover {
        .card--content {
          background-color: $blue-desaturated;
        }
      }

      &--top {
        height: 70px;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;

        img {
          height: 80px;
          width: auto;
        }
      }

      &--content {
        height: 190px;
        margin-top: -30px;
        background-color: $blue-dark;
        border-radius: 10px;
        color: white;
        box-sizing: border-box;
        padding: 0px 20px;

        &--title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2 {
            font-weight: 300;
          }
        }

        .current {
          font-weight: 300;
          font-size: 3.75rem;
          margin: 0;
        }

        .last {
          font-weight: 300;
          font-size: 0.9rem;
          color: $blue-pale;
        }
      }
    }
  }
}
